<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>variants</key>
	<dict>
		<key>Apps/daily_deals-73BA455F-8F32-49B3-BFE1-8688A84D1541.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>10246948</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>10246948</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>24116348</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>24116348</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>12.2</string>
				</dict>
			</array>
		</dict>
		<key>Apps/daily_deals-79A579C4-63F2-4DF9-974C-9E69228AF0BC.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>10246938</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>10246938</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>24116382</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>24116382</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>15.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>13.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/daily_deals-86916CFB-1F7C-48B6-89CF-7370CADA5122.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>12715796</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>12715796</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>31654854</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>31654854</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>12.0</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
