<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>daily_deals.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
				<key>dateExpires</key>
				<string>08/11/2022</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>8.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>8.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hexcolor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47C6A30EE057F1AF77774B7F613AA8960FE315B5</string>
						<key>dateExpires</key>
						<string>08/11/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3S9CF26586</string>
						<key>name</key>
						<string>Shoaib Ali</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3S9CF26586.com.app.ddealsapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3S9CF26586</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3S9CF26586.com.app.ddealsapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>70fb8d29-c065-4a0a-8ef9-aec8ee65e8b4</string>
				<key>dateExpires</key>
				<string>08/11/2022</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.app.ddealsapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3S9CF26586</string>
				<key>name</key>
				<string>Shoaib Ali</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
